@font-face {
  font-family: "BYekan";
  src: url("../fonts/BYekan/BYekan-webfont.eot") format("eot"),
    url("../fonts/BYekan/BYekan-webfont.woff") format("woff"),
    url("../fonts/BYekan/BYekan-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "BYekan";
  direction: rtl;
}

body {
  direction: rtl;
  margin: 0;
  background: url("/images/bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
